<%- layout('layouts/main') %>
<form action="/signin" method="post">
    <input type="email" name="email" placeholder="Nombre de Usuario" />
    <input type="password" name="password" placeholder="Contraseña" />
    <button type="submit">Login</button>
  </form>
  